extends layout
block content
	h1 Completed!
	p Click on button below to see your result
	button#result(type="float-left submit-button") Results
	script(type="text/javascript" src="/javascripts/jquery.js")
	script(type="text/javascript").
		$('#result').click(function(){
			window.location.replace('/disc/results');
		});