extends layout

block content
	h1 Register
	p Hello, please enter your details in the corresponding boxes below
	form#registerform(action="/users/register" method="post")
		input#firstname(name="firstname" placeholder="First Name" type="text" required)
		p
		input#lastname(name="lastname" placeholder="Last Name" type="text" required)
		p
		input#username(name="username" placeholder="Preferred Username" type="text" required)
		p
		input#password(name="password" type="password" placeholder="Password" minlength="8" maxlength="32" required)
		p
		input(type="submit" value="submit")